<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC Properties -->
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="connection.username">system</property>
		<property name="connection.password">manager</property>
		
		<!-- Hibernate Properties -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<!-- List of Mapping files -->
		<mapping resource="com/nit/entity/Student.hbm.xml" />
		<mapping resource="com/nit/entity/LibraryMembership.hbm.xml" />
	</session-factory>
</hibernate-configuration>